<form action="" method="put" id="changeForm">
    <table>
        <tr>
            <td colspan="2">Promena profila</td>
        </tr>
        <tr>
            <td>Korisnicko ime</td>
            <td>
                <input type="text" name="korisnikId" readonly />
            </td>
        </tr>
        <tr>
            <td>Lozinka</td>
            <td>
                <input type="password" name="lozinka" id="lozinka" />
            </td>
        </tr>
        <tr>
            <td>Potrvrdite lozinku</td>
            <td>
                <input type="password" name="lozinka2" />
            </td>
        </tr>
        <tr>
            <td>Ime</td>
            <td>
                <input type="text" name="ime" />
            </td>
        </tr>
        <tr>
            <td>Prezime</td>
            <td>
                <input type="text" name="prezime" />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="email" name="email" />
            </td>
        </tr>
        <tr>
            <td>JMBG</td>
            <td>
                <input type="number" name="jmbg" />
            </td>
        </tr>
        <tr>
            <td>Broj telefona</td>
            <td>
                <input type="number" name="telefon" />
            </td>
        </tr>
        <tr>
            <td>Pol</td>
            <td>
                <select name="pol">
                    <option value="1">
                        Musko
                    </option>
                    <option value="2">
                        Zensko
                    </option>
                </select>
            </td>
        </tr>
        <tr id="vozacXrow">
            <td>
                X Koordinata
            </td>
            <td>
                <input type="number" name="lokacijavozaca_xkoordinata" />
            </td>
        </tr>
        <tr id="vozacYrow">
            <td>
                Y Koordinata
            </td>
            <td>
                <input type="number" name="lokacijavozaca_ykoordinata" />
            </td>
        </tr>
    </table>
    <input type="hidden" name="uloga" />
    <input type="submit" id="chgsubmit" value="Promeni podatke" />
</form>

<script>
    let data = JSON.parse(localStorage.getItem('ulogovan'));
    $('input[name="korisnikId"]').val(data.KorisnikID);
    $('input[name="lozinka"]').val(data.Lozinka);
    $('input[name="ime"]').val(data.Ime);
    $('input[name="prezime"]').val(data.Prezime);
    $('input[name="email"]').val(data.EMail);
    $('input[name="jmbg"]').val(data.JMBG);
    $('input[name="telefon"]').val(data.Telefon);
    $('select[name="pol"]').val(data.Pol);
    $('input[name="uloga"]').val(data.Uloga);
    if ($("#input[name='uloga']").val == 3) {
        $("tr#vozacXrow").show();
        $("tr#vozacYrow").show();
    }
    else {
        $("tr#vozacXrow").hide();
        $("tr#vozacYrow").hide();
    }
    validateChange();
</script>