<form action="" id="voznjaDispecer">
    <table>
        <tr>
            <th colspan="3" align="center">
                Narucivanje voznje
            </th>
        </tr>
        <tr>
            <td>
                XKoordinata
            </td>
            <td>
                <input type="number" name="lokacija_xkoordinata" />
            </td>
        </tr>
        <tr>
            <td>
                YKoordinata
            </td>
            <td>
                <input type="number" name="lokacija_ykoordinata" />
            </td>
        </tr>
        <tr>
            <td>
                Zeljeni tip automobila
            </td>
            <td>
                <select name="zeljenitip">
                    <option value="0"></option>
                    <option value="1">
                        Putnicki
                    </option>
                    <option value="2">
                        Kombi
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="statusvoznje" value="3" />
    <input type="hidden" name="dispecerId" />
    <input type="hidden" name="voznjaid" />
    <input type="submit" value="Zakazi voznju" />
</form>
<!-- Logika za izabir vozaca iz liste slobodnih -->

<script>
    
</script>