<form action="" id="komentarOtkaz" method="post">
    <table>
        <tr>
            <td colspan="3" align="center">Komentar voznje</td>
        </tr>
        <tr>
            <td>Komentar</td>
            <td>
                <textarea name="opis" required></textarea>
            </td>
        </tr>
        <tr>
            <td>Ocena</td>
            <td>
                <select name="ocena">
                    <option value="0"></option>
                    <option value="1">
                        1
                    </option>
                    <option value="2">
                        2
                    </option>
                    <option value="3">
                        3
                    </option>
                    <option value="4">
                        4
                    </option>
                    <option value="5">
                        5
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="kometarID"/>
    <input type="hidden" name="vlasnikKomentara" />
    <input type="hidden" name="komentarisanaVoznja" />
    <input type="submit" value="Ostavi komentar" />
</form>
