<form id="logform" method="post" action="#">
    <table>
      <tr>
          <td colspan="2" align="center">
              Prijava korisnika
          </td>
      </tr>
      <tr>
          <td>
              Korisnicko ime:
          </td>
          <td>
              <input type="text" name="username" required/>
          </td>
      </tr>
      <tr>
          <td>
              Lozinka:
          </td>
          <td>
              <input type="password" name="password" required/>
          </td>
      </tr>
      <tr>
          <td>&nbsp;</td>
          <td>
              <input type="submit" id="prijava" name="prijava" value="Prijava"/>
          </td>
      </tr>
    </table>
</form>

<script>bindLog()</script>