<form action="#" method="put" id="potvrdaVoznje">
    <table>
        <tr>
            <th colspan="3" align="center">
                Potvda voznje
            </th>
        </tr>
        <tr>
            <td>
                XKoordinata Odredista
            </td>
            <td>
                <input type="number" name="odredistex" />
            </td>
        </tr>
        <tr>
            <td>
                YKoordinata Odredista
            </td>
            <td>
                <input type="number" name="odredistey" />
            </td>
        </tr>
        <tr>
            <td>Ulica</td>
            <td>
                <input type="text" name="ulica" />
            </td>
        </tr>
        <tr>
            <td>
                Broj
            </td>
            <td>
                <input type="number" name="broj" />
            </td>
        </tr>
        <tr>
            <td>
                Mesto
            </td>
            <td>
                <input type="text" name="mesto" />
            </td>
        </tr>
        <tr>
            <td>
                Pozivni broj
            </td>
            <td>
                <input type="number" name="pozivnibroj" />
            </td>
        </tr>
        <tr>
            <td>
                Iznos
            </td>
            <td>
                <input type="number" name="iznos" />
            </td>
        </tr>
    </table>
    <input type="hidden" name="voznjaId" />
    <input type="hidden" name="xkoordinata" />
    <input type="hidden" name="ykoordinata" />
    <input type="hidden" name="senderid" />
    <input type="submit" value="Potvrdi voznju" />
</form>

