<form id="regform" method="post" action="#">
    <table>
        <tr>
            <td colspan="2">Registracija korisnika</td>
        </tr>
        <tr>
            <td>Korisnicko ime</td>
            <td>
                <input type="text" name="korisnikId" required />
            </td>
        </tr>
        <tr>
            <td>Lozinka</td>
            <td>
                <input type="password" name="lozinka" required />
            </td>
        </tr>
        <tr>
            <td>Ime</td>
            <td>
                <input type="text" name="ime" required />
            </td>
        </tr>
        <tr>
            <td>Prezime</td>
            <td>
                <input type="text" name="prezime" required />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="email" name="email" required />
            </td>
        </tr>
        <tr>
            <td>JMBG</td>
            <td>
                <input type="number" name="jmbg" required />
            </td>
        </tr>
        <tr>
            <td>Broj telefona</td>
            <td>
                <input type="tel" name="telefon" required />
            </td>
        </tr>
        <tr>
            <td>Pol</td>
            <td>
                <select name="pol">
                    <option value="1">
                        Musko
                    </option>
                    <option value="2">
                        Zensko
                    </option>
                </select>
            </td>
        </tr>

    </table>
    <input type="hidden" value="1" name="uloga" />
    <input type="submit" id="submit" value="Registruj se" />
</form>